{% extends 'base.html' %}
{% block contenido %}

<h1 class="titulo">Nuestros Servicios</h1>

<div class="grid-servicios">

<div class="card"><h3>Desarrollo Web</h3><p>Web modernas y rápidas.</p></div>
<div class="card"><h3>Apps Web</h3><p>Sistemas empresariales.</p></div>
<div class="card"><h3>Seguridad</h3><p>Protección de datos.</p></div>
<div class="card"><h3>Redes</h3><p>Infraestructura segura.</p></div>
<div class="card"><h3>Consultoría</h3><p>Asesoría profesional.</p></div>
<div class="card"><h3>Base de Datos</h3><p>Gestión eficiente.</p></div>
<div class="card"><h3>Soporte</h3><p>Solución rápida.</p></div>
<div class="card"><h3>Cloud</h3><p>Servicios en la nube.</p></div>
<div class="card"><h3>IA</h3><p>Automatización inteligente.</p></div>
<div class="card"><h3>Apps Móviles</h3><p>Android/iOS.</p></div>
<div class="card"><h3>Auditoría</h3><p>Evaluación sistemas.</p></div>
<div class="card"><h3>DevOps</h3><p>Automatización.</p></div>
<div class="card"><h3>Big Data</h3><p>Análisis de datos.</p></div>
<div class="card"><h3>UX/UI</h3><p>Experiencia usuario.</p></div>
<div class="card"><h3>Mantenimiento</h3><p>Optimización continua.</p></div>

</div>

{% endblock %}